@import '_variables';
@import '_layout';

// material-ui
@import 'material';

body {
  background-color: #e1e1e1;
}

.main {
  .map-container {
    position: relative;
  }

  @include tablet {
    padding-top: $padding;
    margin-top: $header;
    .map-container {
      margin-top: -$padding * 2;
      #map {
        height: 500px;
      }
    }
  }

  @include desktop {
    width: 68.75%;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    .map-container {
      height: 100%;
      #map {
        min-height: 980px;
      }
    }
    .card {
      padding-top: 0;
    }
  }

}

.sidebar {
  .header {
    height: $header;
    line-height: $header;
    white-space: nowrap;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0 $padding * 2;

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    img {
      margin: 0 $margin;
      width: 20px;
      height: 25px;
      margin-top: -10px;
    }

    h1 {
      display: inline;
      font-size: 1.6em;
      padding-left: $padding;
    }

    .about {
      display: inline-block;
      float: right;
      margin-top: $margin;
    }
  }

  .selector-box {
    margin-top: -$margin;
    .selector {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      .mui-drop-down-menu {
        margin-left: -($padding * 3);
      }

    }
    .selector-description {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      padding: $padding $padding * 2;
    }
  }

  .timeline-box {
    text-align: center;
    margin-top: 2 * $margin;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-left: 2 * $margin;
    height: 40px;

    .timeline {
      li {
        display: inline;
        list-style: none;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-left: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding: 5px 10px;
        cursor: pointer;
        &.active {
          background-color: rgba(0, 0, 0, 0.05);
        }
        &:last-child {
          border-right: 1px solid rgba(0, 0, 0, 0.05);
        }
      }

    }
  }

  .social-panel {
    text-align: center;
    padding: $padding $padding * 2;
    .mui-paper-button {
      width: 50%;
    }
    // override the default icon style
    .mui-paper-button-icon {
      float: left;
      font-size: 15px;
      height: 20px;
      margin-top: 2 * $margin;
      margin-right: $margin;
    }
  }

  .average-box {
    h5 {
      margin-left: 2 * $margin;
    }
    .average-chart {
      ul {
        margin-left: 2 * $margin;
        li {
          padding: 2 * $padding 0;
          list-style: none;
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          .value {
            float: right;
            margin-right: 2 * $margin;
          }
        }
      }
    }
  }

  // ipad mini size(768px)
  @include tablet {
    .header {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      right: 0;
    }

    .selector-box {
      .selector {
        margin-top: -($padding * 3);
      }
    }

  }

  @include desktop {
    width: 31.25%;
    float: right;
    background: #fff;
    min-height: 1000px;
  }

  @include retina {

  }

  @include print {

  }
}

.card {
  padding: $padding 0;
  @include tablet {
    background-color: #fff;
  }
}

@import 'mapbox';
@import 'chartist';
