@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@-webkit-keyframes spinning {
  to {
    @include transform(rotate(-360deg));
  }
}

@-moz-keyframes spinning {
  to {
    @include transform(rotate(-360deg));
  }
}

@-ms-keyframes spinning {
  to {
    @include transform(rotate(-360deg));
  }
}

@-o-keyframes spinning {
  to {
    @include transform(rotate(-360deg));
  }
}

@keyframes spinning {
  to {
    @include transform(rotate(-360deg));
  }
}

@mixin spin($delay) {
  -webkit-animation: spinning $delay linear infinite;
  -moz-animation: spinning $delay linear infinite;
  -ms-animation: spinning $delay linear infinite;
  -o-animation: spinning  $delay linear infinite;
  animation: spinning $delay linear infinite;
}

.loading {
  position: relative;
  /*@include user-select(none);*/
  &:before {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1002;
  }
  &:after {
    background: #FFF;
    border-radius: 50%;
    content: "\e86c";
    font-size: 20px;
    font-family: "mdfonticon";
    left: 50%;
    line-height: 1;
    margin-left: -10px;
    margin-top: -10px;
    padding: 5px;
    position: absolute;
    @include spin(0.8s);
    top: 50%;
    z-index: 1002;
  }
}