@import 'bourbon';
@import 'normalize';

$primary-color: #333;
$border-color: #BBB;

$primary-size: 16px;

body {
  font-family: "Source Sans Pro", Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #222;
  background-color: #fff;
  margin: 0px;

  header {
    border-bottom: 1px solid #999;
    padding: 15px 8px;
    background-color: #fff;
    background: -webkit-linear-gradient(top,#fff,#f0f0f0);
    .header {
      padding-left: 8px;
    }
    .logo {
      display: inline;
    }
    h1 {
      display: inline;
      padding: 4px 8px;
      font-size: 24px;
      color: #555;
      font-weight: 300;
    }
  }
}

.container {
  #handsontable {
    margin: 8px 10px;
  }

  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    background-color: #fff;
  }
}

#map {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
}